---
layout: default
---

<h3 class="fw-bold">
  About me
</h3>
<div class="row align-items-center">
  <div class="col-md-8">
    {{ content }}
  </div>
  <div class="col-md-4" style="text-align:center">
    <img src="{{ site.baseurl }}/assets/img/myself.png" alt="Home" width="100%"
      style="max-height:240px;width:auto;height:auto">
  </div>
</div>

<div class="row mb-5">
  <div class="col-md-6">
    <a href="https://github.com/lennart-maack" class="ms-3 fs-5" target="_blank" rel="noopener"><i
        class="fab fa-github" title="GitHub"></i></a>
    <a href="https://scholar.google.com/citations?user=svGcph8AAAAJ&hl=de&oi=ao" class="ms-3 fs-5" target="_blank"><i
        class="ai ai-google-scholar-square" title="Google Scholar"></i></a>
    <a href="mailto:lennartma.19@gmail.com" class="ms-3 fs-5" target="_blank" rel="noopener"><i
      class="fa fa-envelope" title="Email"></i></a>
    <a href="{{ site.baseurl }}/assets/cv.pdf" class="ms-3 fs-5" target="_blank"><i
        class="ai ai-cv" title="CV"></i></a>
  </div>
</div>

{% include publications.html %}
